/* You can add global styles to this file, and also import other style files */
:root {
  --white: #ffffff;
  --yellow: #e4a503;
  --red: #e7553f;
  --green: #2d5f3c;
  --grey: #7a7e83;
  --black: #071021;
}
